<div class="container-fluid text-center mb-4 fs-1">
  Lockers' management application
</div>
<div class="d-grid gap-3 col-3 mx-auto">
  <a [routerLink]="['/new-locker/gender']"><button class="btn btn-primary container-fluid" type="button">New request</button></a>
  <a><button class="btn btn-primary container-fluid" type="button">Return a key</button></a>
  <a><button class="btn btn-primary container-fluid" type="button">Spare key request</button></a>
  <a><button class="btn btn-primary container-fluid" type="button">Return a spare key</button></a>
</div>
