<div class="container-fluid text-center mb-4 fs-1">
  New locker's request
</div>
<div class="d-grid gap-3 col-6 mx-auto">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="nameInput" placeholder="Dupont">
    <label for="nameInput">Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" id="firstNameInput" class="form-control" placeholder="Jean">
    <label class="form-label" for="firstNameInput">First name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" id="personalNumberInput" class="form-control" placeholder="207890">
    <label class="form-label" for="personalNumberInput">Personnal number</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" id="companyInput" class="form-control" placeholder="Jet Aviation">
    <label class="form-label" for="companyInput">Company</label>
  </div>
</div>
<div class="d-grid gap-3 col-4 mx-auto">
  <div class="row">
    <div class="col">
      <a><button class="btn btn-primary mb-2 container-fluid" type="button">Confirm</button></a>
      <a><button class="btn btn-primary container-fluid" type="button">Cancel</button></a>
    </div>
  </div>
</div>
