.title {
    margin: 12vh auto !important;
}

.logo img {
    width: 375px;
}

.title {
    margin-top: 3vh;
    margin-bottom: 7vh;
}

canvas {
    border: 1px solid black;
    width: 100%;
    Height: 150px;
}
