<div class="container">
    <div class="logo d-flex justify-content-end mb-5" id="to-print">
        <div>
            <img src="../../../assets/Image/logo/JA_bmk_rgb_pos.png" alt="Jet Aviation Logo">
        </div>
    </div>
    <div class="title">
        <h1 class="text-center">New locker's request form</h1>
    </div>
    <div class="d-grid gap-3 col-12 mx-auto">
        <div class="row mb-3">
            <div class="col">
                <p class="h3">Last name : {{ lastName }}</p>
            </div>
            <div class="col">
                <p class="h3">First name : {{ firstName }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <p class="h3">Personal N° : {{ personalNumber }}</p>
            </div>
            <div class="col">
                <p class="h3">Company : {{ company }}</p>
            </div>
        </div>
    </div>

</div>